@font-face
{
    font-family:'Franchise';
    src:url(/css/fonts/Franchise-Bold-hinted.eot);
    src:url(/css/fonts/Franchise-Bold-hinted.eot?#iefix) format("embedded-opentype)","url(/css/fonts/Franchise-Bold-hinted.woff") format("woff)","url(/css/fonts/Franchise-Bold-hinted.ttf") format("truetype)","url(/css/fonts/Franchise-Bold-hinted.svg") format("svg");
    font-weight:700;
    font-style:normal
}

body
{
    width:100%;
    *zoom:1
}

body::before,body::after
{
    content:"";
    display:table
}

body::after
{
    clear:both
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
    display:block
}

audio,canvas,video
{
    display:inline-block;
    *display:inline;
    *zoom:1
}

audio:not([controls])
{
    display:none;
    height:0
}

[hidden]
{
    display:none
}

html
{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

html,button,input,select,textarea
{
    font-family:sans-serif
}

body
{
    margin:0
}

a:focus
{
    outline:thin dotted
}

a:active,a:hover
{
    outline:0
}

h1
{
    font-size:2em;
    margin:.67em 0
}

h2
{
    font-size:1.5em;
    margin:.83em 0
}

h3
{
    font-size:1.17em;
    margin:1em 0
}

h4
{
    font-size:1em;
    margin:1.33em 0
}

h5
{
    font-size:.83em;
    margin:1.67em 0
}

h6
{
    font-size:.67em;
    margin:2.33em 0
}

abbr[title]
{
    border-bottom:1px dotted
}

b,strong
{
    font-weight:700
}

blockquote
{
    margin:1em 40px
}

dfn
{
    font-style:italic
}

hr
{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}

mark
{
    background:#ff0;
    color:#000
}

p,pre
{
    margin:1em 0
}

code,kbd,pre,samp
{
    font-family:monospace,serif;
    _font-family:'courier new',monospace;
    font-size:1em
}

pre
{
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word
}

q
{
    quotes:none
}

q:before,q:after
{
    content:'';
    content:none
}

small
{
    font-size:80%
}

sub,sup
{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sup
{
    top:-.5em
}

sub
{
    bottom:-.25em
}

dl,menu,ol,ul
{
    margin:1em 0
}

dd
{
    margin:0 0 0 40px
}

menu,ol,ul
{
    padding:0 0 0 40px
}

nav ul,nav ol
{
    list-style:none;
    list-style-image:none
}

img
{
    border:0;
    -ms-interpolation-mode:bicubic
}

svg:not(:root)
{
    overflow:hidden
}

figure
{
    margin:0
}

form
{
    margin:0
}

fieldset
{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend
{
    border:0;
    padding:0;
    white-space:normal;
    *margin-left:-7px
}

button,input,select,textarea
{
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle
}

button,input
{
    line-height:normal
}

button,select
{
    text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
{
    -webkit-appearance:button;
    cursor:pointer;
    *overflow:visible
}

button[disabled],html input[disabled]
{
    cursor:default
}

input[type="checkbox"],input[type="radio"]
{
    box-sizing:border-box;
    padding:0;
    *height:13px;
    *width:13px
}

input[type="search"]
{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner
{
    border:0;
    padding:0
}

textarea
{
    overflow:auto;
    vertical-align:top
}

table
{
    border-collapse:collapse;
    border-spacing:0
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus
{
    outline:0
}

.slides,.flex-control-nav,.flex-direction-nav
{
    margin:0;
    padding:0;
    list-style:none
}

.flexslider
{
    margin:0;
    padding:0
}

.flexslider .slides>li
{
    display:none;
    -webkit-backface-visibility:hidden
}

.flexslider .slides img
{
    width:100%;
    display:block
}

.flex-pauseplay span
{
    text-transform:capitalize
}

.slides:after
{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}

html[xmlns] .slides
{
    display:block
}

* html .slides
{
    height:1%
}

.no-js .slides>li:first-child
{
    display:block
}

.flexslider
{
    margin:0 0 60px;
    background:#fff;
    border:4px solid #fff;
    position:relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -o-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    zoom:1
}

.flex-viewport
{
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease
}

.loading .flex-viewport
{
    max-height:300px
}

.flexslider .slides
{
    zoom:1
}

.carousel li
{
    margin-right:5px
}

.flex-direction-nav
{
    *height:0
}

.flex-direction-nav a
{
    width:30px;
    height:30px;
    margin:-20px 0 0;
    display:block;
    position:absolute;
    top:50%;
    z-index:10;
    cursor:pointer;
    text-indent:-9999px;
    opacity:0;
    -webkit-transition:all .3s ease
}

.flex-direction-nav .flex-next
{
    background-position:100% 0;
    right:-36px
}

.flex-direction-nav .flex-prev
{
    left:-36px
}

.flexslider:hover .flex-next
{
    opacity:.8;
    right:5px
}

.flexslider:hover .flex-prev
{
    opacity:.8;
    left:5px
}

.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover
{
    opacity:1
}

.flex-direction-nav .flex-disabled
{
    opacity:.3!important;
    filter:alpha(opacity=30);
    cursor:default
}

.flex-control-nav
{
    width:100%;
    position:absolute;
    bottom:-40px;
    text-align:center
}

.flex-control-nav li
{
    margin:0 6px;
    display:inline-block;
    zoom:1;
    *display:inline
}

.flex-control-paging li a
{
    width:11px;
    height:11px;
    display:block;
    background:#666;
    background:rgba(0,0,0,0.5);
    cursor:pointer;
    text-indent:-9999px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    box-shadow:inset 0 0 3px rgba(0,0,0,0.3)
}

.flex-control-paging li a:hover
{
    background:#333;
    background:rgba(0,0,0,0.7)
}

.flex-control-paging li a.flex-active
{
    background:#000;
    background:rgba(0,0,0,0.9);
    cursor:default
}

.flex-control-thumbs
{
    margin:5px 0 0;
    position:static;
    overflow:hidden
}

.flex-control-thumbs li
{
    width:25%;
    float:left;
    margin:0
}

.flex-control-thumbs img
{
    width:100%;
    display:block;
    opacity:.7;
    cursor:pointer
}

.flex-control-thumbs img:hover
{
    opacity:1
}

.flex-control-thumbs .flex-active
{
    opacity:1;
    cursor:default
}

@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev
    {
        opacity:1;
        left:0
    }

    .flex-direction-nav .flex-next
    {
        opacity:1;
        right:0
    }
}

*
{
    margin:0;
    padding:0
}

html
{
    font-size:62.5%
}

body
{
    margin:0
}

h1
{
    color:#737273;
    font-size:60px;
    line-height:55px;
    font:400 6rem/1 Franchise,Impact,sans-serif;
    text-transform:lowercase;
    letter-spacing:1px
}

h2
{
    color:#737273;
    font-size:36px;
    line-height:48px;
    font:400 3.6rem/1.3 Franchise,Impact,sans-serif;
    text-transform:lowercase;
    text-shadow:0 1px 0 #fff;
    filter:dropshadow(color=white,offx=0,offy=1);
    letter-spacing:1px
}

h3
{
    color:#737273;
    font-size:28px;
    line-height:9px;
    font:400 2.8rem/1 Franchise,Impact,sans-serif;
    text-transform:lowercase;
    letter-spacing:1px
}

h4
{
    color:#737273;
    font-size:24px;
    line-height:48px;
    font:400 2.4rem/4.8rem Franchise,Impact,sans-serif;
    text-transform:lowercase;
    margin-bottom:0
}

p,li
{
    color:#737273;
    font-size:14px;
    font:400 1.4rem/2.2 "Droid Serif",serif;
    letter-spacing:.05rem
}

a,mark
{
    color:#7cb8cc;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease
}

a
{
    text-decoration:none
}

mark
{
    background-color:transparent
}

a:hover,mark:hover
{
    color:#97c7d7;
    cursor:pointer
}

mark:hover
{
    border-bottom:1px dashed #97c7d7
}

hr
{
    border-top:1px solid rgba(115,114,115,0.3);
    border-bottom:1px solid #fff
}

blockquote
{
    margin:0
}

body
{
    background:url(/img/bg-texture.jpg) 0 0 repeat
}

header
{
    background:url(/img/header-texture.png) 0 0 repeat-x;
    height:108px;
    position:fixed;
    top:0;
    width:100%;
    z-index:10
}

header nav
{
    height:101px;
    float:right;
    margin-top:10px
}

.nav-logo
{
    position:relative;
    top:-30px;
    float:left
}

.nav-logo img
{
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease
}

.nav-logo img:hover
{
    transform:rotate(7deg);
    -webkit-transform:rotate(7deg)
}

nav a
{
    color:#fff;
    font-size:36px;
    line-height:48px;
    font:400 3.6rem/4.8rem Franchise,Impact,sans-serif;
    text-transform:lowercase;
    text-shadow:0 -1px 0 rgba(0,0,0,0.75);
    filter:dropshadow(color=black,offx=0,offy=-1);
    margin:0 16px;
    padding:7px 7px 5px;
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease
}

nav a:hover
{
    color:#fff;
    background-color:#464646;
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.15);
    box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.15)
}

.nav-hire-me
{
    color:#f0a829
}

.full-container
{
    padding-top:108px
}

#work,#what-I-do,#my-experience,#hire-me
{
    margin-top:80px
}

#home
{
    *zoom:1;
    padding-top:163px
}

#home::before,#home::after
{
    content:"";
    display:table
}

#home::after
{
    clear:both
}

#home .hero-text
{
    display:inline;
    float:left;
    width:72.91667%;
    margin:0 1.04167%;
    margin-left:0
}

#home .hero-text h1
{
    text-shadow:0 1px 0 #fff;
    filter:dropshadow(color=white,offx=0,offy=1);
    margin-bottom:20px
}

#home .hero-text p
{
    color:#797979;
    font-size:14px;
    line-height:24px;
    font:400 1.4rem/2.4rem "Droid Serif",serif;
    text-shadow:0 1px 0 #fff;
    filter:dropshadow(color=white,offx=0,offy=1);
    width:668px;
    text-align:center
}

#home .hero-text p::before
{
    content:'{';
    font-size:78px;
    font-size:7.8rem;
    float:left;
    margin:24px -33px 24px 0
}

#home .hero-text p::after
{
    content:'}';
    font-size:78px;
    font-size:7.8rem;
    float:right;
    position:relative;
    top:-24px;
    z-index:-1
}

#home .hero-text .hero-job,#home .hero-text .hero-desc
{
    color:#7cb8cc
}

#home .hero-image
{
    display:inline;
    float:left;
    width:22.91667%;
    margin:0 1.04167%;
    margin-right:0
}

#home .hero-image img
{
    width:100%;
    max-width:254px;
    height:auto
}

#testimonial
{
    border-top:1px solid rgba(115,114,115,0.3);
    border-bottom:1px solid rgba(115,114,115,0.3);
    height:288px;
    margin-top:80px
}

#testimonial::before
{
    content:'';
    background:#fff;
    display:block;
    width:100%;
    height:1px
}

#testimonial h2
{
    color:#fff;
    text-shadow:-2px -1px 0 rgba(115,114,115,0.56);
    filter:dropshadow(color=#737273,offx=-2,offy=-1);
    margin-top:15px;
    letter-spacing:2px
}

#testimonial blockquote
{
    color:#fff;
    font-size:16px;
    line-height:31px;
    font:400 1.6rem/3.1rem "Droid Serif",serif
}

#testimonial strong
{
    display:block;
    color:#fff;
    font-size:16px;
    margin-top:10px
}

#work .flexslider
{
    background-color:rgba(255,255,255,0.7);
    border:4px solid rgba(255,255,255,0.7)
}

#work .slide-img
{
    float:right
}

#work .slide-desc
{
    width:30%;
    margin:0 5%
}

#work .slide-img
{
    width:60%
}

#what-I-do .excerpt-left,#what-I-do .excerpt-right
{
    display:inline;
    float:left;
    width:39.58333%;
    margin:0 1.04167%
}

#what-I-do .my-skillset,#what-I-do .what-I-write-about
{
    display:inline;
    float:left;
    width:47.91667%;
    margin:0 1.04167%
}

#what-I-do .excerpt-left,#what-I-do .my-skillset
{
    margin-left:0
}

#what-I-do .excerpt-right,#what-I-do .what-I-write-about
{
    margin-right:0
}

#what-I-do .excerpt-left
{
    margin-right:9.375%
}

#what-I-do .excerpt-left .script-check-me-out
{
    display:block;
    margin:0 auto;
    position:relative;
    left:-30px
}

#what-I-do .excerpt-left ul
{
    list-style:none;
    margin-top:15px;
    padding-left:0;
    text-align:center
}

#what-I-do .excerpt-left ul li a img:hover
{
    -webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.25);
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.25)
}

#what-I-do .excerpt-left ul li
{
    display:inline;
    margin-right:40px
}

#what-I-do .my-skillset h4
{
    margin-bottom:10px
}

#what-I-do .my-skillset ul
{
    list-style:none;
    padding-left:0;
    float:left;
    margin-right:60px;
    margin-top:0
}

#what-I-do .my-skillset ul li
{
    margin-bottom:5px
}

#what-I-do .my-skillset ul li::before
{
    background:transparent url(/img/icon-checkmark.png) 0 0 no-repeat;
    content:'';
    display:inline-block;
    width:18px;
    height:18px;
    position:relative;
    left:-5px;
    top:5px
}

#what-I-do .what-I-write-about h4
{
    margin-bottom:16px
}

#what-I-do .what-I-write-about h4::after
{
    content:'';
    background:url(/img/webicons-social/fc-webicon-rss-s.png) 0 0 no-repeat;
    display:inline-block;
    width:23px;
    height:23px;
    position:relative;
    left:5px;
    top:5px
}

#what-I-do .what-I-write-about article p
{
    color:#919191
}

#what-I-do .what-I-write-about article h1
{
    font:400 1.6rem/1 "Droid Serif",serif
}
#what-I-do .what-I-write-about .blog-feed a {
    text-transform: none;
}

.experience-left,.experience-right
{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -ms-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    -o-box-shadow:0 1px 4px rgba(0,0,0,0.2);
    box-shadow:0 1px 4px rgba(0,0,0,0.2)
}

.experience-left
{
    display:inline;
    float:left;
    width:56.25%;
    margin:0 1.04167%;
    background-color:rgba(255,255,255,0.7)
}

.experience-right
{
    display:inline;
    float:left;
    width:39.58333%;
    margin:0 1.04167%;
    background-color:rgba(0,0,0,0.03)
}

.experience-right h4
{
    margin-left:20px
}

.experience-box
{
    padding:8px 21px 25px
}

.experience-box ul
{
    list-style:none
}

.experience-box ul li::before
{
    content:'';
    background:url(/img/icon-bullet-point.png) 0 0 no-repeat;
    display:inline-block;
    width:14px;
    height:14px;
    position:absolute;
    margin-left:-15px;
    margin-top:10px
}

.experience-company
{
    color:#919191
}

.hire-me-box a
{
    text-align:center;
    width:100%;
    display:inline-block
}

.hire-me-box a:hover
{
    background-color:rgba(255,255,255,0.5);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px
}

.hire-me-box h1
{
    color:#fff;
    margin-bottom:0;
    text-shadow:1px 1px 2px rgba(0,0,0,0.75);
    filter:dropshadow(color=black,offx=1,offy=1)
}

.hire-me-box p.tagline
{
    color:#fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.75);
    filter:dropshadow(color=black,offx=1,offy=1);
    margin-top:-5px
}

.hire-me-box a:hover h1,.hire-me-box a:hover p.tagline
{
    color:#f0a829
}

#hire-me
{
    border-top:1px solid rgba(115,114,115,0.3);
    border-bottom:1px solid rgba(115,114,115,0.3)
}

#hire-me::before
{
    content:'';
    background:#fff;
    display:block;
    width:100%;
    height:1px
}

#hire-me li,#hire-me label,#hire-me h2
{
    color:#fff
}

#hire-me .wrapper
{
    margin-top:45px;
    padding-top:40px
}

#hire-me .wrapper>h2
{
    font-size:72px;
    font-size:7.2rem;
    text-shadow:-2px -1px 0 rgba(115,114,115,0.56);
    filter:dropshadow(color=#737273,offx=-2,offy=-1);
    margin-top:15px;
    letter-spacing:2px
}

#hire-me .hire-me-form,#hire-me aside
{
    display:inline;
    float:left;
    width:39.58333%;
    margin:0 1.04167%
}

#hire-me aside
{
    margin-left:13.54167%
}

#hire-me .hire-me-form label
{
    font-size:36px;
    font:400 3.6rem/1.5 Franchise,Impact,sans-serif;
    display:block;
    text-transform:lowercase
}

#hire-me .hire-me-form input,#hire-me .hire-me-form textarea
{
    border:0;
    color:#919191;
    font-size:18px;
    font-size:1.8rem;
    width:100%;
    -webkit-box-shadow:inset 1px 1.5px 5px 0 rgba(0,0,0,0.3);
    box-shadow:inset 1px 1.5px 5px 0 rgba(0,0,0,0.3);
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom:25px
}

#hire-me .wrapper .submit-btn
{
    color:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    border:1px solid rgba(255,255,255,0.3);
    -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.37);
    box-shadow:0 0 5px 0 rgba(0,0,0,0.37);
    background:#7cb8cc;
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiM3Y2I4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzVhZGMwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(61%,#7cb8cc),color-stop(100%,#75adc0));
    background:-webkit-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-o-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-ms-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:linear-gradient(to bottom,#7cb8cc 61%,#75adc0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb8cc',endColorstr='#75adc0',GradientType=0)
}

#hire-me .wrapper .submit-btn:active
{
    border:0;
    -webkit-box-shadow:inset 1px 1px 3px 0 rgba(0,0,0,0.17);
    box-shadow:inset 1px 1px 3px 0 rgba(0,0,0,0.17)
}

#hire-me .handdrawn-no-robots
{
    background:url(/img/no-robots.png) 0 0 no-repeat;
    display:inline-block;
    width:84px;
    height:49px;
    margin-top:-13px
}

#hire-me aside ul
{
    list-style:none;
    margin:0;
    padding:0
}

#hire-me .social-icon
{
    position:relative;
    left:-36px
}

#hire-me .social-icon a
{
    color:#fff;
    display:inline-block;
    padding:5px 5px 6px 50px;
    position:relative
}

#hire-me .social-icon::before
{
    content:'';
    background:url(/img/sprites.png) 0 0 no-repeat;
    display:inline-block;
    width:34px;
    height:34px;
    position:relative;
    top:10px;
    left:36px
}

#hire-me .social-github::before
{
    background-position:0 0
}

#hire-me .social-wordpress::before
{
    background-position:-42px 0
}

#hire-me .social-stackoverflow::before
{
    background-position:-84px 0
}

#hire-me .social-linkedin::before
{
    background-position:-126px 0
}

#hire-me .social-twitter::before
{
    background-position:-168px 0
}

#hire-me .social-email::before
{
    background-position:-210px 0
}

#hire-me .social-resume::before
{
    background-position:-252px 0
}

footer ul li
{
    display:inline
}

footer .wrapper
{
    padding:0
}

footer .wrapper .float-right
{
    margin-left:30px
}

.blue-gradient
{
    background:#7cb8cc;
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiM3Y2I4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzVhZGMwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(61%,#7cb8cc),color-stop(100%,#75adc0));
    background:-webkit-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-o-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:-ms-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background:linear-gradient(to bottom,#7cb8cc 61%,#75adc0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb8cc',endColorstr='#75adc0',GradientType=0)
}

.wrapper
{
    margin-left:5.20833%;
    margin-right:5.20833%;
    height:100%;
    padding:20px 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    *zoom:1
}

.wrapper::before,.wrapper::after
{
    content:"";
    display:table
}

.wrapper::after
{
    clear:both
}

.column-container
{
    *zoom:1
}

.column-container::before,.column-container::after
{
    content:"";
    display:table
}

.column-container::after
{
    clear:both
}

.fire
{
    color:#f0a829
}

.fire:hover
{
    color:#fff;
    text-shadow:0 -.05em .2em #FFF,0.01em -.02em .15em #FE0,0.01em -.05em .15em #FC0,0.02em -.15em .2em #F90,0.04em -.2em .3em #F70,0.05em -.25em .4em #F70,0.06em -.2em .9em #F50,0.1em -.1em 1em #F40;
    border:0
}

.form-success,.form-error
{
    color:#fff;
    font-weight:700;
    display:none
}

.form-error
{
    background:red
}

.form-success
{
    background:green
}

.hidden
{
    display:none
}

.small-mobile-only
{
    display:none
}

.float-right
{
    float:right
}

@media screen and (max-width:905px) {
    *
    {
        -webkit-transition:all 300ms ease;
        -moz-transition:all 300ms ease;
        -o-transition:all 300ms ease;
        transition:all 300ms ease
    }

    #what-I-do .excerpt-left,#what-I-do .excerpt-right,#what-I-do .my-skillset,#what-I-do .what-I-write-about,#my-experience .experience-left,#my-experience .experience-right,#hire-me .hire-me-form,#hire-me aside,#home .hero-text
    {
        display:inline;
        float:left;
        width:97.91667%;
        margin:0 1.04167%
    }

    nav a
    {
        margin:0 6px;
        font-size:3rem
    }

    header
    {
        height:65px
    }

    header nav
    {
        height:inherit;
        margin-top:-10px
    }

    .nav-logo
    {
        top:-40px
    }

    .nav-logo img
    {
        width:100px;
        height:100px
    }

    #my-experience .experience-right
    {
        margin-top:20px
    }

    #home
    {
        position:relative
    }

    #home .hero-image
    {
        position:absolute;
        left:39.402985074627%;
        top:20px
    }

    #home .hero-text p
    {
        width:100%
    }
}

@media screen and (max-width:669px) {
    html
    {
        font-size:57%
    }

    header
    {
        height:40px
    }

    header nav
    {
        margin-top:-13px
    }

    header nav a
    {
        display:inline-block;
        color:transparent;
        width:20px;
        height:15px;
        background-color:rgba(255,255,255,0.95);
        text-shadow:none;
        text-indent:-9999em;
        -webkit-border-radius:5px;
        border-radius:5px
    }

    header nav .nav-work,header nav .nav-what-I-do,header nav .nav-experience,header nav .nav-hire-me
    {
        background:rgba(255,255,255,0.95) url(../img/mini-vector-icons/mini-sprite.png) 0 0 no-repeat
    }

    header nav .nav-work
    {
        background-position:4px 3px
    }

    header nav .nav-what-I-do
    {
        background-position:4px -37px
    }

    header nav .nav-experience
    {
        background-position:-35px -38px
    }

    header nav .nav-hire-me
    {
        background-position:-35px 2px
    }

    .nav-hire-me,nav a:hover
    {
        color:transparent
    }

    .experience-box ul
    {
        padding-left:25px
    }

    #home
    {
        padding-top:0
    }

    #home .hero-text h1
    {
        margin-top:0
    }

    #home .hero-text p
    {
        width:100%;
        margin-top:20px
    }

    #home .hero-text
    {
        top:-20px
    }

    #home .hero-image
    {
        display:none
    }

    #home .hero-text p::before,#home .hero-text p::after
    {
        display:none
    }

    #work .slide-desc,#work .slide-img
    {
        width:100%
    }

    #work .slide-img
    {
        float:none;
        height:auto
    }

    .small-mobile-only
    {
        display:block
    }

    .nav-logo img
    {
        width:70px;
        height:70px;
        margin-top:5px
    }
}

@media screen and (min-width:906px) and (max-width:1349px) {
    *
    {
        -webkit-transition:all 300ms ease;
        -moz-transition:all 300ms ease;
        -o-transition:all 300ms ease;
        transition:all 300ms ease
    }

    #hire-me .hire-me-form
    {
        display:inline;
        float:left;
        width:47.91667%;
        margin:0 1.04167%
    }

    #hire-me aside
    {
        margin-left:9.375%
    }
}

@media screen and (min-width:1350px) {
    *
    {
        -webkit-transition:all 300ms ease;
        -moz-transition:all 300ms ease;
        -o-transition:all 300ms ease;
        transition:all 300ms ease
    }

    .wrapper
    {
        margin-left:9.375%;
        margin-right:9.375%
    }

    html
    {
        font-size:75%
    }
}
