@font-face {
    font-family: 'Franchise';
    src: url('/css/fonts/Franchise-Bold-hinted.eot');
    src: url('/css/fonts/Franchise-Bold-hinted.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Franchise-Bold-hinted.woff') format('woff'), 
        url('/css/fonts/Franchise-Bold-hinted.ttf') format('truetype'), 
        url('/css/fonts/Franchise-Bold-hinted.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

$franchise: "Franchise", "Impact", sans-serif;
$serif-default: "Droid Serif", serif;
