.experience-block {

    height: 200px;
    display: block;
    position: relative;
    color: #454545;



    @extend .well;

    @include transition(all .5s);

    &:hover {
        color: $brand-primary;
        cursor: pointer;
    }

    .glyphicon {
        font-size: 40px;
        display: block;
        margin-left: auto;
        width: 40px;
        margin-right: auto;
        margin-top:30px;
    }

    h4 {
        text-align: center;
        bottom: 25px;
        left: 0;
        right: 0;
        position: absolute;
    }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .experience-block {
        width:345px;
        float:left;
        margin-right: 20px;

        &:nth-child(2n+1) {
            margin-right: 0;
        }
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
    .experience-block {
        width:295px;
        float:left;
        margin-right: 20px;

        &:nth-child(3n+1) {
            margin-right: 0;
        }
    }
}

@media (min-width: $screen-lg) {
    .experience-block {
        width:360px;
        margin-right: 25px;
        float:left;

        &:nth-child(3n+1) {
            margin-right: 0;
        }
    }
}
// @media (min-width: $screen-md) and (max-width: $screen-lg) {
//     .experience-block {
//         width:300px;
//     }
// }
