.experience-block {

    height: 200px;
    display: block;
    position: relative;
    color: #454545;



    @extend .well;

    @include transition(all .5s);



    .glyphicon {
        font-size: 40px;
        display: block;
        margin-left: auto;
        width: 40px;
        margin-right: auto;
        margin-top:30px;
    }

    h4 {
        text-align: center;
        bottom: 10px;
        left: 0;
        right: 0;
        position: absolute;
    }

    .experience-caption {
        background:rgba($brand-primary, 0.88);
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        padding:5px 10px;
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 700ms ease;
        -moz-transition: all 700ms ease;
        -ms-transition: all 700ms ease;
        -o-transition: all 700ms ease;
        transition: all 700ms ease;

        p,
        h5,
        li {
            color: #fff;
            font-size: 13px;
            text-shadow:none;
        }
        li {
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 5px;
        }
        ul {
            list-style: disc;
            padding-left: 20px;
        }
        a {
            color:#fff;
            font-weight: 700;
        }
    }

    &:hover,
    &:active {
        .experience-caption {
            opacity: 1;
        }
    }


}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .experience-block {
        width:345px;
        float:left;
        margin-right: 20px;

        &:nth-child(2n+2) {
            margin-right: 0;
        }
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
    .experience-block {
        width:295px;
        float:left;
        margin-right: 20px;

        &:nth-child(3n+2) {
            margin-right: 0;
        }
    }
}

@media (min-width: $screen-lg) {
    .experience-block {
        width:360px;
        margin-right: 25px;
        float:left;

        &:nth-child(3n+2) {
            margin-right: 0;
        }
    }
}
// @media (min-width: $screen-md) and (max-width: $screen-lg) {
//     .experience-block {
//         width:300px;
//     }
// }
