
h1 {
    text-shadow: 0 1px 0 #fff;
    color:$dark-gray;

    .hero-job {
        color:$brand-primary;
    }
    .hero-desc {
        color:$brand-primary;
    }
    .hero-job,
    .hero-desc {
        @include transition(all .5s);

        &:hover {
            color:lighten($brand-primary, 7%);
        }
    }
}

.tagline {
    font-style: italic;
}
.jump-link {
    display: inline-block;
    margin-right: 15px;
    a {
        text-shadow:none;
    }
}
.hire {
    .btn-primary {
        background-color: $orange;
        border-color: darken($orange, 7%);

        &:hover {
            background-color: darken($orange, 7%);
        }
    }
}
.hero-img img {
    width:175px;
}
@media (max-width: $screen-md) {
    .jumbotron .container .cf {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;

        .page-header {
            -moz-box-ordinal-group: 2;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
        }
        .hero-img {
            -moz-box-ordinal-group: 1;
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;

            img {
                margin: 0 auto;
                display: block;
            }
        }
    }

}
@media (min-width: $screen-sm) {
    .hero-img {
        img {
            width:inherit;
        }
    }
}
@media (min-width: $screen-md) {
    .page-header {
        float:left;
        padding-right: 0;
    }
    .hero-img {
        float:right;
        position: relative;
        top:59px;
    }
}
@media (min-width: $screen-lg) {
    .page-header {
        padding-right: 150px;
    }
}
