header nav {
    &.navbar {
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.35);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.35);
        -o-box-shadow: 0 1px 4px rgba(0,0,0,0.35);
        box-shadow: 0 1px 4px rgba(0,0,0,0.35);
    }
    .navbar-collapse {
        // float:right;
    }
    .navbar-header .navbar-toggle {
        background-color: transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        outline: none;
        @include transition(all .3s);

        // &:focus,
        // &:active {
        //     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
        //     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
        // }
        // &.collapsed {
        //     background-color: transparent;
        //     -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        //     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        // }
        &.collapsed {
            background-color:transparent;
        }
        &:active,
        &:hover {
            background-color: #303030;
        }
    }

    .navbar-brand {
        position: absolute;
        top:-35px;
        z-index:9;
        img {
            width:100px;
            height: auto;

            @include transition(all .5s);

            &:hover {
                @include transform(rotate(7deg));
            }
        }
    }
}
.navbar-default .navbar-nav > li > a {
    text-shadow: 1px 1px #343434;
}
@media (max-width: $screen-sm) {
    .navbar-nav {
        padding-top:25px;
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    header nav .navbar-collapse .glyphicon {
        display: none;
    }
}

// Greater than tablet
@media (min-width: $screen-sm) {
    header nav .navbar-collapse {
        float:right;
    }
}
