.skill {
    color:#fff;
    display: block;
    font-weight: 700;
    width: 150px;
    height: 150px;
    border: 3px solid #777;
    border-radius: 75px;
    vertical-align: middle;
    text-align: center;
    line-height: 150px;
}
.skill-php {
    background: #9999cc;
}
.skill-css {
    background: #669517;
}
.skill-jquery {
    background: #0769AD;
}
.skill-sass {
    background: #ce4dd6;
}
.skill-rails {
    background: #981a21;
}
.skill-wordpress {
    background: #222;
}
.skill-git {
    background: #f14e32;
}
.skill-responsive {
    background: #fdc328;
}
.skill-unit-testing {
    background: #f5f5f5;
}
.skill-psr {
    background: #9ddcff;
}
