h2 {
    @extend %inverse-header;
}
.testimonial-single {

    blockquote {
        background: rgba(255,255,255, 0.15);
        border: none;

        p {
            color:#fff;
        }
        small {
            font-weight: 700;
            color:#fff;
        }
    }

}

@media (min-width: $screen-sm) {
    .testimonial-single {
        width: 300px;
        &.testimonial-1 {

        }
    }
}
