h2 {
    @extend %inverse-header;
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 25px;
}
.testimonial-single {

    blockquote {
        background: rgba(255,255,255, 0.15);
        border: none;
        position: relative;

        p {
            color:#fff;
            line-height: 2.2
        }
        small {
            font-weight: 700;
            color:#fff;
            position: absolute;
            bottom: -40px;
            right: 50px;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
            font-size: 14px;

            &:hover {
                border-bottom: 1px dashed rgba(255, 255, 255, 0.75);
            }
        }
    }

}
.testimonial-container {
    margin-top:25px;
}



@media (min-width: $screen-sm) {
    .testimonial-single {

        &.testimonial-1 {

        }
    }
}
