
h1 {
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 0;
    font: 700 1.6rem/1.5 $font-family-base;
}
time {
    margin-left:5px;
}
.glyphicon {
    font-size:12px;
    color:#888;
}
h3 {
    margin-top:35px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    &:before,
    &:after {
        border-top: 1px solid rgba(115, 114, 115, 0.3);
        border-bottom: 1px solid #fff;
        content: '';
        display: inline-block;
        position: absolute;
        top: 13px;
        z-index: -1;
        width:25%;
    }
    &:before {
        left: 0;
    }
    &:after {
        right:0;
    }
}

// Small to med
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    h3 {
        &:before,
        &:after {
            width:35%;
        }
    }
}

// Med to large
@media (min-width: $screen-md) and (max-width: $screen-lg) {
    h3 {
        &:before,
        &:after {
            width:38%;
        }
    }
}

// Large
@media (min-width: $screen-lg) {
    h3 {
        &:before,
        &:after {
            width:40%;
        }
    }
}
