.carousel {
    border: 4px solid #fff;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    .carousel-caption {
        bottom: 0;
        background: white;
        width: 100%;
        left: 0;
        position: relative;
        padding:20px 30px;

        p {
            margin-bottom: 0;
        }

        .carousel-desc {
            margin-bottom: 15px;
        }

        h4,
        p {
            text-align: left;
        }

        h4 {
            color: #565656;
            text-shadow: none;
            font-weight: 700;
        }
    }
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        font-size: 50px;
        top:10%;
    }
    .carousel-indicators {
        bottom:-5px;

        li {
            border:1px solid #ccc;
            height:12px;
            width:12px;

            &.active {
                background: #000;
            }
        }
    }
}
@media (min-width: $screen-xs) {
    .carousel .carousel-control {
        .icon-next,
        .icon-prev {
            top: 20%;
        }
    }
}
@media (min-width: $screen-sm) {
    .carousel .carousel-control {
        .icon-next,
        .icon-prev {
            top: 150px;
        }
    }
}
@media (min-width: $screen-md) {
    .carousel .carousel-control {
        .icon-next,
        .icon-prev {
            top: 200px;
        }
    }

}
@media (min-width: $screen-lg) {
    .carousel .carousel-control {
        .icon-next,
        .icon-prev {
            top: 250px;
        }
    }

}
