.blue-gradient {
    background: #7cb8cc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(61%,#7cb8cc),color-stop(100%,#75adc0));
    background: -webkit-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background: -o-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background: -ms-linear-gradient(top,#7cb8cc 61%,#75adc0 100%);
    background: linear-gradient(to bottom,#7cb8cc 61%,#75adc0 100%);
}
