
////////////
// Colors //
////////////
$gray: #737273;
$dark-blue: #75adc0;
$very-light-blue: #97c7d7;
$light-blue: #7cb8cc;
$orange: #f0a829;
$light-gray: #919191;

$dark-gray: #565656;

////////////////////////////
// Semantic Grid Settings //
////////////////////////////
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;

///////////
// Fonts //
///////////
@font-face {
    font-family: 'Franchise';
    src: url('../css/fonts/Franchise-Bold-hinted.eot');
    src: url('../css/fonts/Franchise-Bold-hinted.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Franchise-Bold-hinted.woff') format('woff'),
        url('../css/fonts/Franchise-Bold-hinted.ttf') format('truetype'),
        url('../css/fonts/Franchise-Bold-hinted.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Daniel';
    src: url('../css/fonts/daniel-webfont.eot');
    src: url('../css/fonts/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/daniel-webfont.woff') format('woff'),
         url('../css/fonts/daniel-webfont.ttf') format('truetype'),
         url('../css/fonts/daniel-webfont.svg#DanielRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$franchise: "Franchise", "Impact", sans-serif;
$daniel: "Daniel", "Monotype Corsiva", "Brush Script MT", "URW Chancery L", cursive, sans-serif;
//$serif-default: "Droid Serif", serif;

/////////////////////////
// Bootstrap Overrides //
/////////////////////////

$brand-primary: $light-blue;
$font-family-base: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-font-path: "../css/sass/vendor/bootstrap/fonts/";
$tooltip-bg: $brand-primary;
$navbar-default-bg: #454545;
$navbar-default-link-color: #999;
// $navbar-default-link-hover-color: #7cb8cc;
$navbar-default-link-active-color: #7cb8cc;
$navbar-default-toggle-border-color: #333;
$navbar-default-toggle-hover-bg: darken($navbar-default-toggle-border-color, 1%);

// NAVBAR
$navbar-default-link-hover-color: $brand-primary;
