
////////////
// Colors //
////////////
$gray: #737273;
$dark-blue: #75adc0;
$very-light-blue: #97c7d7;
$light-blue: #7cb8cc;
$orange: #f0a829;
$light-gray: #919191;

////////////////////////////
// Semantic Grid Settings //
////////////////////////////
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;

///////////
// Fonts //
///////////
@font-face {
    font-family: 'Franchise';
    src: url('../css/fonts/Franchise-Bold-hinted.eot');
    src: url('../css/fonts/Franchise-Bold-hinted.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Franchise-Bold-hinted.woff') format('woff'),
        url('../css/fonts/Franchise-Bold-hinted.ttf') format('truetype'),
        url('../css/fonts/Franchise-Bold-hinted.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}


$franchise: "Franchise", "Impact", sans-serif;
//$serif-default: "Droid Serif", serif;

/////////////////////////
// Bootstrap Overrides //
/////////////////////////

$brand-primary: $light-blue;
$font-family-base: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-font-path: "../css/fonts/vendor/boostrap/fonts/";
